<form class="col mt-3">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="username" class="sr-only">السؤال</label>
        <input type="text" class="form-control" id="username" placeholder="السؤال" />
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <input type="submit" id="edit" class="btn btn-warning" value="تعديل" />
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <input type="submit" id="edit" class="btn btn-success mx-sm-2" value="حفظ" />
      </div>
    </div>
    <div class="col-1">
      <div class="from-group">
        <input type="submit" id="edit" class="btn btn-danger mx-sm-2" value="حذف" />
      </div>
    </div>
    <div class="col-1">
      <div class="from-group">
        <label for="checkbox" class="sr-only">عرض</label>
        <input type="checkbox" id="checkbox" class="form-control mx-sm-2" name="active" value="active" />
      </div>
    </div>
  </div>

 <div class="row">
    <div class="form-group col">
        <label for="exampleFormControlTextarea1" class="sr-only">الاجابة</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
 </div>
  </div>



</form>
