<!-- -----------------------------------------   Navpar  --------------------------------------- -->
<nav id="navbar-h" class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 100;">
  <button class="btn btn-outline-secondary navbar-brand" type="button">
    <span style="font-size: 1em; color: white;">
      <i class="fa fa-user"></i>
    </span>
  </button>
  <a href="#" class="navbar-brand">
    منصة تبيان
  </a>
  <a href="#" class="navbar-brand">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">0000</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="" class="nav nav-link" data-toggle="modal" data-target="#logIn">{{posts.userType}}</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="" class="btn">
          <span style="font-size: 1em; color: white;">
            <i class="fa fa-flag"></i>
          </span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-secondary navbar-brand" (click)="logout()">
          <span style="font-size: 1em; color: white;">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
