<nav class="mt-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-techerC-tab" data-toggle="tab" href="#nav-techerC" role="tab" aria-controls="nav-techerC" aria-selected="true">معلم</a>
    <a class="nav-item nav-link" id="nav-tranerC-tab" data-toggle="tab" href="#nav-tranerC" role="tab" aria-controls="nav-tranerC" aria-selected="false">مشرف</a>
    <a class="nav-item nav-link" id="nav-superFC-tab" data-toggle="tab" href="#nav-superFC" role="tab" aria-controls="nav-superFC" aria-selected="false">مدرب</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-techerC" role="tabpanel" aria-labelledby="nav-techerC-tab"><app-techer-cer></app-techer-cer></div>
  <div class="tab-pane fade" id="nav-tranerC" role="tabpanel" aria-labelledby="nav-tranerC-tab"><app-super-f-cer></app-super-f-cer></div>
  <div class="tab-pane fade" id="nav-superFC" role="tabpanel" aria-labelledby="nav-superFC-tab"><app-traner-cer></app-traner-cer></div>
</div>