<form class="form-inline mt-3">
    <div class="form-group mb-2">
      <label for="date" class="sr-only">تايخ الانشاء</label>
      <input type="date" class="form-control" disabled />
    </div>
    <div class="form-group mx-sm-1 mb-2">
      <label for="trnername" class="sr-only">اسم المدرب</label>
      <input type="username" class="form-control" id="trnername" placeholder="اسم المدرب" disabled />
    </div>
    <div class="form-group mx-sm-1 mb-2">
      <label for="email" class="sr-only">البريد الالكتروني</label>
      <input type="email" class="form-control" placeholder="البريد الالكتروني">
    </div>
    <div class="form-group mx-sm-1 mb-2">
      <label for="inputPassword1" class="sr-only">تغيير كلمة المرور</label>
      <input type="password" class="form-control" placeholder="ادخل كلمة المرور">
    </div>
    <div class="form-group mx-sm-1 mb-2">
      <input type="submit" class="btn btn-warning" value="تعديل" />
      <input type="submit" class="btn btn-success mx-sm-2" value="موافق" />
      <input type="submit" class="btn btn-danger mx-sm-5" value="حذف" />
      <input type="checkbox" class="checkbox" name="active" value="active" />

    </div>
  
  
  </form>