<div *ngFor="let user of users">
    <div *ngIf="user.userType == 'trainer'">
      <form class="form-inline mt-3">
        <div class="form-group mx-sm-1 mb-2">
          <input type="text" class="form-control" #username value="{{user.username}}" placeholder="اسم المستخدم" />
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <input type="email" class="form-control" #email value="{{user.email}}" placeholder="البريد الالكتروني">
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <input type="password" #password class="form-control" placeholder="ادخل كلمة المرور">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" (click)="chengePass(user._id, password)" type="button">حفظ</button>
          </div>
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <div class="m-1">
            <input type="button" (click)="ReSaveUser(user._id, username, email)" class="btn btn-success "
              value="حفظ" />
          </div>
          <input type="button" (click)="deleteUser(user._id)" class="btn btn-danger" value="حذف" />
          <div class="custom-control m-1">
            <label><input type="checkbox" (click)="isActive(user._id)" [checked]="user.isActive"> تفعيل</label>
          </div>
        </div>
        <ng-http-loader></ng-http-loader>
      </form>
    </div>
  </div>
