<table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">رقم الرخصة</th>
        <th scope="col">الاسم</th>
        <th scope="col">تاريخ الانتهاء</th>
        <th scope="col">عدد الايام المتبقة</th>
        <th scope="col">الحالة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1124588</td>
        <td>عمر نوح عمر</td>
        <td>10-01-2019</td>
        <td>7</td>
        <td>مفعل</td>
      </tr>
    </tbody>
    <tbody>
        <tr>
          <td>1124588</td>
          <td>عمر نوح عمر</td>
          <td>10-01-2019</td>
          <td>7</td>
          <td>مفعل</td>
        </tr>
      </tbody>
      <tbody>
          <tr>
            <td>1124588</td>
            <td>عمر نوح عمر</td>
            <td>10-01-2019</td>
            <td>7</td>
            <td>مفعل</td>
          </tr>
        </tbody>
  </table>