
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-neworders-tab" data-toggle="tab" href="#nav-neworders" role="tab" aria-controls="nav-neworders" aria-selected="true">طلب فتح حساب جديد</a>
      <a class="nav-item nav-link" id="nav-cer-tab" data-toggle="tab" href="#nav-cer" role="tab" aria-controls="nav-cer" aria-selected="false">طلب دورة جديدة</a>
    </div>
  </nav>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-neworders" role="tabpanel" aria-labelledby="nav-neworders-tab"><app-reqnewcourse></app-reqnewcourse></div>
    <div class="tab-pane fade" id="nav-cer" role="tabpanel" aria-labelledby="nav-cer-tab">طلب دورة جديدة</div>
  </div>


