/* You can add global styles to this file, and also import other style files */


@import "../node_modules/ng2-slim-loading-bar/style.css";


@font-face {
  font-family: 'Cairo';
  src:  url('./assets/fonts/Cairo-Regular.ttf') format('truetype');
}

html, body{
    height:100%;
    font-size: 15px;
}

app-root{
  font-family: "Cairo";
}


.loding{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  position: fixed;
  z-index: 1;
  display: -webkit-flex; /* Safari */
  display: flex;
}
.cont{

background-color: rgba(0, 0, 0, 0.459);
margin:auto;
width:auto;
height: auto;
border-radius: 7px;
padding: 15px;
}

.loding img{
  width: 200px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 

  /* ممكن اضافة حواف دائرية */
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 179, 253); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8fd8ff; 
}