<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">رقم الشهادة</th>
        <th scope="col">نوع الشهادة</th>
        <th scope="col">الاسم</th>
        <th scope="col">التقدير</th>
        <th scope="col">النسبة</th>
        <th scope="col">تاريخ الاصدار</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1124588</td>
        <td>مدرب</td>
        <td>عمر نوح عمر</td>
        <td>ممتاز</td>
        <td>%100</td>
        <td>01-01-2019</td>
      </tr>
    </tbody>
  </table>