<form class="col-8 mx-auto mt-5">
  
    <div class="form-row">
      <div class="form-group col">
        <label for="accType"> اختر نوع الحساب</label>
        <select id="accType" class="form-control">
          <option>قسم التعليم</option>
          <option>قسم التدريب والتطوير</option>
          <option>قسم الاعلام</option>
          <option selected>حساب جهة</option>
          <option>حساب مدرب</option>
          <option>حساب مشرف</option>
        </select>
      </div>
      <div class="form-group col">
        <label for="accName">اسم الحساب</label>
        <input type="text" class="form-control" id="accName" placeholder="اسم الحساب">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">البريد الالكتروني</label>
        <input type="email" class="form-control" id="email" placeholder="البريد الالكتروني">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword1">ادخل كلمة المرور</label>
        <input type="password" class="form-control" id="inputPassword1" placeholder="ادخل كلمة المرور">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword2">تأكيد كلمة المرور</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="تأكيد كلمة المرور">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">إنشاء حساب</button>

</form>