<form class="col-8 mx-auto mt-5"  [formGroup]="registerForm">

  <div class="form-row">
    <div class="form-group col">
      <label for="accType"> اختر نوع الحساب</label>
      <select name="newaccType" formControlName="newaccType" class="form-control">
        <option value="education">قسم التعليم</option>
        <option value="development">قسم التدريب والتطوير</option>
        <option value="media">قسم الاعلام</option>
        <option value="institute">حساب جهة</option>
        <option value="trainer">حساب مدرب</option>
        <option value="supervisor">حساب مشرف</option>
      </select>
    </div>
    <div class="form-group col">
      <label for="newaccName">اسم المستخدم</label>
      <input type="text" class="form-control" formControlName="newaccName" name="newaccName" placeholder="اسم المستخدم">
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="newemail">البريد الالكتروني</label>
      <input type="email" class="form-control" formControlName="newemail" name="newemail" placeholder="البريد الالكتروني" >
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword1">ادخل كلمة المرور</label>
      <input type="password" class="form-control" formControlName="inputPassword1" name="inputPassword1" placeholder="ادخل كلمة المرور">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword2">تأكيد كلمة المرور</label>
      <input type="password" class="form-control" formControlName="inputPassword2" name="inputPassword2" placeholder="تأكيد كلمة المرور">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="register()">إنشاء حساب</button>

</form>